@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import "tailwindcss";
 
*, :after, :before {
    border-color:  #e5e7eb;
    box-sizing: border-box;
}

button,
a {
    cursor: pointer;
}

body {
    margin: 0;
     font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #f8f8fb;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.scrollbar-hidden::-webkit-scrollbar {
    display: none;
}

.scrollbar-hidden {
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
}

.cardShadow {
    box-shadow: none;
    /* box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); */
}


.sc-Qotzb {
    max-width: 100% !important;
    height: 40vh !important;
    width: 100% !important;
}

#selectedImage {
    border: 2px solid #202020 !important;
    max-width: 50% !important;
    height: 100%;
}

.hide-scrollbar {
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    overflow-y: scroll;
    /* or auto depending on use case */
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, and Opera */
}

.shadow {
    box-shadow: none;
}

.shadow:hover {
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.1), 1px 1px 10px rgba(0, 0, 0, 0.08);
}

/* 
HEX color codes used: #F1F1F1, #202020, #7E909A, #1C4E80, #A5D8DD, #EA6A47, #0091D5

*/

@theme inline {
    /* --color-primary: #0A3A75; */
    --color-primary: #152547;
    --color-secondary: #0A3A75;
    --color-ternary: #FC5F07;
    --color-color-1: #D1B14E;
    --color-color-2: #040404;
    --color-text-gray: #747474;
    --color-text-light: #ABABAB;
    --color-text-black: #363636;
    --gradient-hero: linear-gradient(135deg, oklch(0.255 0.065 264) 0%, oklch(0.32 0.08 270) 50%, oklch(0.685 0.205 38) 130%);
} 